@charset "UTF-8";


/*  #ffd500 Yellow
    #000000 Black
    #ffffff White
*/


/* GENERAL STYLES */
html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #ffffff;
    color: #000000;
    margin: 0 !important;
}
hr {
    margin: 0 10vw;
    border-color: #000000;
}
/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
}
/* focus link */
a:focus {
    color: #000000;                 
    text-decoration: underline;
    font-weight: bolder;
}
/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: bolder;
}
/* selected link */
a:active {
    color: #ffd500;
    text-decoration: none;
}


/* HEADER STYLES */
header {
    background-color: #ffd500;
}
#header_logo {
    display: block;
    margin: 0 auto 0 auto;
    width: 50%;
    max-width: 300px;
    padding: 10px;
}
#header_navigation ul {
    list-style-type: none;
    padding: 10px 10%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#header_navigation ul li {
    font-size: .75rem;
    padding: 0.25em 0.5em;
}
.navigation_icon {
    display: block;
    width: 40px;
    margin: 0px auto;
}



/* MAIN STYLES */
main {
    background-color: #ffffff;
    margin: 0 10vw;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0 1rem;
    text-transform: capitalize;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
}
p {
    text-align: justify;
}
#home_key, #home_objectives, #home_gender {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
}
#home_key_text, #home_objectives_text, #home_gender_text {
    padding: 0 1rem;
}
#home_key_text h2 {
    text-align: left;
}
#home_key_text p {
    margin: 0;
    padding: 0.5rem 0;
}
#home_context_figure, #home_methods_figure {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#home_context_figure img, #home_methods_figure img {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
#home_context_fig_cap, #home_methods_fig_cap {
    text-align: center;
    font-size: smaller;
}
/* 
h2::first-letter {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    color: #00ffff;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
}
section {
    background-color: #0f0f0f;
    padding: 0 8%;
    padding-bottom: .1rem;
    background-image: radial-gradient(black, #0f0f0f 50%);
}
td, th {
    border: 1px solid #ffffff;
}
#home_about_figure {
    float: center;
    width: 60%;
    margin: 0 auto 0;
    shape-outside: circle(50%);
    position: relative;
    left: 50vw;
    transform: translateX(-50vw); 
    transition: transform 1s linear 0.25s;
}
#home_about_figure picture img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}
#home_about_fig_cap {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
}
#home_about_text {
    position: relative;
    left: -50vw;
    transform: translateX(50vw); 
    transition: transform 1s linear 0.25s;
}
#home_section_industry {
    position: relative;
}
#home_industry_figure {
    margin: 0;
    position: absolute;
    right: 5%;
    bottom: -20%;
    z-index: 0;
}
p {
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.5px;
    /* display: list-item;
}
form {
    max-width: 40em;
    padding-bottom: 10px;
    text-align: center;
}
fieldset {
    max-width: 40em;
    border: 1px solid #00ffff;
    border-radius: 1rem;
    background-color: #1f1f1f;
    font-size: 0.9rem;
    flex: 1 1 20em;
}
fieldset legend {
    color: #00ffff;
    font-size: 0.75rem;
    overflow: hidden;
}
form ol, form ul {
    list-style: none;
    list-style-type: none;
	margin: 0;
	padding: 0;
}
form ol li, form ul li {
    margin-bottom: 1em;
    display: flex;
	flex-wrap: wrap;
}
label {
    flex: 1 1 auto;
	margin-bottom: 4px;
}
input, textarea, select {
	flex: 1 1 auto;
}
textarea {
    display: block;
    height: 5em;
    font-family: inherit; 
    font-size: .875em;
    line-height: 1.25;
    overflow: auto;
    resize: none;
}
input[type="file"] {
    flex: 1 1 auto;
}
#form-getintouch-age_gro {
    display: flex;
	flex-wrap: wrap;
}
input[type="checkbox"] {
    display: block;
    flex: 1 1 auto;
}
table {
    background-color: #1f1f1f;
    font-size: 0.9rem;
    border-collapse: collapse;
    margin: 0 auto 10px;
    border: 1px solid #00ffff;
    border-radius: 10px;
    border-collapse: separate !important;
    white-space: normal;
}
caption {
    color: #00ffff;
    caption-side: top;
    margin-bottom: 0.5rem;
}
thead {
    background-color: #1f1f1f;
}
tbody {
    background-color: #1f1f1f;
}
tr {
    border: none;
}
th {
    padding: 0.5rem 0.5rem;
    border: none;
    border-bottom: 1px solid #00ffff;
}
td {
    border: none;
    padding: 0.5rem 0.5rem;
}
tfoot {
    background-color: #1f1f1f;
    font-size: 0.75rem;
} */


/* FOOTER STYLES */
footer {
    background-color: #ffd500;
}
#footer_soc_media, #footer_institutions {
    margin: 0 10vw;
    padding-top: 5px;
}
#footer_institutions {
    margin: 0 10vw;
    padding-top: 5px;
}
#footer_soc_media ul, #footer_institutions ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}
#footer_institutions ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}
#footer_soc_media ul li img{
    width: 2rem;
}
#footer_institutions ul li img{
    width: 20vw;
    max-width: 300px;
}
#footer_address {
    text-align: center;
    padding: 0.5rem 10vw 0 10vw;
}
#footer_copyright {
    margin: 0px;
    padding: 0.5rem 10vw;
    text-align: center;
    grid-area: Copy;
}


/* MEDIA QUERIES FOR SCREENS WIDER THAN 600 PX */
@media screen and (min-width: 600px) {
    main {
        margin: 0 15vw;
    }
    h1 {
        font-size: 3rem;
        margin: 30px;
        clear: both;
    }
    #home_key {
        width: 50%;
        float: left;
        margin-right: 1rem;
    }
    #home_objectives {
        width: 50%;
        float: right;
        margin-left: 1rem;
    }
}


/* MEDIA QUERIES FOR SCREENS WIDER THAN 1200 PX */
@media screen and (min-width: 1200px) {
    main {
        margin: 0 20vw;
    }
    #home_key {
        width: 40%;
    }
    #home_objectives {
        width: 40%;
    }
}

