@charset "UTF-8";


/*  #ffd500 Yellow
    #000000 Black
    #ffffff White
*/


/* GENERAL STYLES */
html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #ffffff;
    color: #000000;
    margin: 0 !important;
}
hr {
    margin: 0 10vw;
    border-color: #000000;
}
/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
}
/* focus link */
a:focus {
    color: #000000;                 
    text-decoration: underline;
    font-weight: bolder;
}
/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: bolder;
}
/* selected link */
a:active {
    color: #ffd500;
    text-decoration: none;
}


/* HEADER STYLES */
header {
    background-color: #ffd500;
}
#header_logo {
    display: block;
    margin: 0 auto 0 auto;
    width: 50%;
    max-width: 300px;
    padding: 10px;
}
#header_navigation ul {
    list-style-type: none;
    padding: 10px 10%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#header_navigation ul li {
    font-size: .75rem;
    padding: 0.25em 0.5em;
}
.navigation_icon {
    display: block;
    width: 40px;
    margin: 0px auto;
}



/* MAIN STYLES */
main {
    background-color: #ffffff;
    margin: 0 10vw;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0 1rem;
    text-transform: capitalize;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
}
p {
    text-align: justify;
}
#home_key, #home_objectives, #home_gender {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    border-radius: 1rem;
}
#home_key_text, #home_objectives_text, #home_gender_text {
    padding: 0 1rem;
}
#home_key_text h2 {
    text-align: left;
}
#home_key_text p {
    margin: 0;
    padding: 0.5rem 0;
}
#home_context_figure, #home_methods_figure {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#home_context_figure img, #home_methods_figure img {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
#home_context_fig_cap, #home_methods_fig_cap {
    text-align: center;
    font-size: smaller;
}

.participants_data {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 1rem;
}
.participants_data p {
    text-align: center;
}
.participant_image {
    display: block;
    width: 75%;
    margin: 0 auto;
    border-radius: 1rem;
}
.people_social {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
}
.people_social li a img {
    width: 2rem;
}
.hr_people {
    display: none;
}
.institutions_data {
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 1rem;
}
.institutions_image {
    display: block;
    width: 75%;
    border-radius: 1rem;
    margin: 0.5rem auto 0.5rem auto;
}
.participants_endusers {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
}
.participants_endusers li a img {
    width: 250px;
}

.article_title {
    text-decoration: underline;
    margin-bottom: 0.1rem;
}
.article_date {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 0;
}
.article_paragraph {

}
.article_figure {
    margin: 0;
}
.article_pic {

}
.article_image {
    display: block;
    width: 90%;
    margin: 0 auto;
}
.article_caption {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
}


/* FOOTER STYLES */
footer {
    background-color: #ffd500;
}
#footer_soc_media, #footer_institutions {
    margin: 0 10vw;
    padding-top: 5px;
}
#footer_institutions {
    margin: 0 10vw;
    padding-top: 5px;
}
#footer_soc_media ul, #footer_institutions ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}
#footer_institutions ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}
#footer_soc_media ul li img{
    width: 2rem;
}
#footer_institutions ul li img{
    width: 20vw;
    max-width: 300px;
}
#footer_address {
    text-align: center;
    padding: 0.5rem 10vw 0 10vw;
}
#footer_copyright {
    margin: 0px;
    padding: 0.5rem 10vw;
    text-align: center;
    grid-area: Copy;
}


/* MEDIA QUERIES FOR SCREENS WIDER THAN 600 PX */
@media screen and (min-width: 600px) {
    main {
        margin: 0 15vw;
    }
    h1 {
        font-size: 3rem;
        margin: 30px;
        clear: both;
    }
    #home_key {
        width: 50%;
        float: left;
        margin-right: 1rem;
    }
    #home_objectives {
        width: 50%;
        float: right;
        margin-left: 1rem;
    }

    .participants_data {
        width: 50%;
        float: left;
        margin-right: 1rem;
    }
    .hr_people {
        clear: both;
        margin: 2rem 0;
        display: block;
    }
    .institutions_data {
        width: 75%;
        margin: 0 auto;
    }
    
}


/* MEDIA QUERIES FOR SCREENS WIDER THAN 1200 PX */
@media screen and (min-width: 1200px) {
    main {
        margin: 0 20vw;
    }
    #home_key {
        width: 40%;
    }
    #home_objectives {
        width: 40%;
    }

    .participants_data {
        width: 40%;
        margin-bottom: 1rem;
    }
    .hr_people {
        clear: both;
        margin: 2rem 0;
    }
    .institutions_data {
        width: 60%;
    }

    article {
        column-count: 2;
        column-gap: 3rem;
    }
    #article_hr {
        margin-bottom: 1rem;
    }
    .article_title {
        text-align: justify;
        column-span: all;
    }
    .article_date {
        text-align: justify;
    }
    .article_paragraph {
        text-align: justify;
    }
    .article_figure {
        margin: 0;
    }
    .article_pic {
    
    }
    .article_image {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .article_caption {
        font-size: 0.75rem;
        font-style: italic;
        text-align: center;
    }
}

